{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  {% block stylesheets_local %}{% endblock %}
{% endblock %}

{% block body %}
  {% include 'includes/header.html' %}
  {% block content %}{% endblock %}
  {% include 'includes/footer.html' %}
{% endblock %}

{% block javascripts %}
  {{ block.super }}
  <script src="{% static 'js/plugins.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  {% block javascripts_local %}{% endblock %}

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
{% endblock %}
